
<div style="text-align: center; margin: 20px">
  <%= link_to "Create New User", new_user_path, class: "index-link", style:"background-color:#FADACD; color:#ED8259; border-radius: 30px; padding: 8px 32px" %>
  <%= link_to "Create New Store", new_store_path , class: "index-link", style:"background-color:#FADACD; color:#ED8259; border-radius: 30px; padding: 8px 32px" %>
</div>
